<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349405037583-741thrva0je1rg0i7ic1se7lg4smq95m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349405037583-741thrva0je1rg0i7ic1se7lg4smq95m</string>
	<key>API_KEY</key>
	<string>AIzaSyDp-hrcQaOVjnHRT_So8RmBccqKsf4txzA</string>
	<key>GCM_SENDER_ID</key>
	<string>349405037583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloWorld</string>
	<key>PROJECT_ID</key>
	<string>project-2910725798392866741</string>
	<key>STORAGE_BUCKET</key>
	<string>project-2910725798392866741.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349405037583:ios:0551cb7d4e9e05e954cf7a</string>
</dict>
</plist>